@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


html {
  font-family: 'Poppins', sans-serif;
  background-color: #181820;
  color: #fff;
}

h3{
  font-size: 1.1rem;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: .5px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}